main {
    min-height: 80vh;
}

.m-body{
    background-color: #F8F5F2;
}

.banner{
    background-color: aqua;
}

h1{
    padding: 1rem 0;
    font-size: 2rem;
}

h2{
    padding: 0.1rem;
    font-size: 0.5rem 0;
}


h3{
    padding:1rem 0;
}


